h1 {
	color: #000000;
	text-size: 80px;
	text-align: center;
}

.button {
	text-align: center;
}

.ans {
	margin-top: 8px;
	margin-left: 41.5%;
}

.answer {
	color: white;

}
.answer:hover {
	color: black;
}